{% extends "base.html" %}

{% block title %}
<title>學生資料管理系統</title>
<style>
    h1,h2{
        text-align: center;
    }
    table, th, td{
        border: 1px solid black;
        border-collapse: collapse;
    }
    table{
        margin-left: auto;
        margin-right: auto;
    }
    .head_content{
        margin-bottom: 30px;
    }
</style>
{% endblock %}

{% block content %}
<div class="head_content">
    <h1>學生資料管理系統</h1>
    <h2>目前的資料筆數:{{data_count}}，<a href="/post/">新增學生資料</a></h2>
    <div style="text-align: center;">
        <form action="/index/" method="get">
            <label for="site_search">搜尋關鍵字：</label>
            <input type="search" id="site_search" name="site_search">
            <button type="submit">搜尋</button>
        </form>
    </div>
</div>
<div>
    {% if status %}
     <table>
        <tr>
            <th>學號</th>
            <th>姓名</th>
            <th>性別</th>
            <th>生日</th>
            <th>信箱</th>
            <th>電話</th>
            <th>地址</th>
            <th>編輯</th>
        </tr>
        {% for data in page_obj %}
        <tr>
            <td>{{data.cID}}</td>
            <td>{{data.cName}}</td>
            <td> {% if data.cSex == "M" %} 男 {% else %} 女{% endif %} </td>
            <td>{{data.cBirthday |date:'Y-m-d'}}</td>
            <td>{{data.cEmail}}</td>
            <td>{{data.cPhone}}</td>
            <td>{{data.cAddr}}</td>
            <td>
                <!-- <a href="/edit/?id={{ data.cID }}">編輯</a> -->
                <a href="/edit/{{ data.cID }}/">編輯</a>
                <a href="/delete/{{ data.cID }}/">刪除</a>
            </td>

        </tr>
        {% endfor %}
    </table>
    <div style="text-align: center;margin-top: 20px;">
        {% if page_obj.has_previous %}
        <a href="?page=1{%if site_search%}&site_search={{ site_search }}{% endif %}">最前頁</a>
        <a href="?page={{ page_obj.previous_page_number }}{%if site_search%}&site_search={{ site_search }}{% endif %}">上一頁</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <strong>{{ num }}</strong>
            {% else %}
                <a href="?page={{ num }}{%if site_search%}&site_search={{ site_search }}{% endif %}">{{ num }}</a>
            {% endif %}
        
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{%if site_search%}&site_search={{ site_search }}{% endif %}">下一頁</a>
        <a href="?page={{ page_obj.paginator.num_pages }}{%if site_search%}&site_search={{ site_search }}{% endif %}">最後頁</a>
        {% endif %}

    </div>


    {% else %}
        <h1>{{errormessage}}</h1>
    {% endif %}
   





</div>
{% endblock  %}
